!pip install google-cloud-bigquery

%pip install google-api-core

%pip install --upgrade google-cloud-storage

%pip install pybigquery

!python -m pip install --upgrade pip

In [2]:
google.__path__.append('C:\\Users\\D30001E013\\AppData\\Local\\Google\\Cloud SDK\\google-cloud-sdk\\platform\\google_appengine\\google')

In [3]:
sys.path.insert(0,'C:\\Users\\D30001E013\\AppData\\Local\\Google\\Cloud SDK\\google-cloud-sdk\\platform\\google_appengine\\google')

In [3]:
import google
import sys
import google.appengine

In [4]:
import pandas as pd
from sqlalchemy import text
from sqlalchemy import create_engine

In [11]:
from sqlalchemy import *
from sqlalchemy.schema import *

gcloud auth application-default login

import os

os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "path_to_your_.json_credential_file"

In [5]:
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "C:\\Users\\D30001E013\\AppData\\Roaming\\gcloud\\application_default_credentials.json"

In [ ]:
QUERY = """
SELECT DISTINCT term from 'big-que
"""

In [12]:
import subprocess

In [18]:
def query_example():

    cmd = (""" bq --format=csv query --use_legacy_sql=false\
        'SELECT DISTINCT term from 'bigquery-public-data.google-trends.top-terms' WHERE refresh_date = DATE_SUB(CURRENT_DATE(),INTERVAL 1 DAY)' > output.csv""")
    subprocess.call(cmd,shell=True)

In [21]:
#The below query is run using the command palette and use the extension to query Bigquery database
SELECT word, SUM(word_count) AS count FRO `bigquery-public-data`.samples.shakespeare WHERE word LIKE "%raisin%" GROUP BY word

'SELECT word, SUM(word_count) AS count FROM `bigquery-public-data`.samples.shakespeare WHERE word LIKE "%raisin%" GROUP BY word'

![](2022-02-07-20-32-25.png)

Each SchemaField tells us about a specific column (which we also refer to as a field). In order, the information is:

The name of the column

The field type (or datatype) in the column

The mode of the column *('NULLABLE' means that a column allows NULL values, and is the default)*

A description of the data in that column

The first field has the SchemaField:

SchemaField('by', 'string', 'NULLABLE', "The username of the item's author.",())

1st query simple and easy

SELECT city  #city is the column

FROM `bigquery-public-data.openaq.global_air_quality` (public data . dataset . table in the dataset)

WHERE country = 'US'

2nd Query ### Introducing the initial query with SELECT FROM WHERE clauses

SELECT city, country ( Select 2 columns mentioned here )

FROM `bigquery-public-data.openaq.global_air_quality` ( from the dataset openaq)

WHERE country = 'US' (country is US)

city  US

city  US

city  US

SELECT * (All columns selected)

FROM `bigquery-public-data.openaq.global_air_quality`

WHERE country = 'US'

# Introducing HAVING instead of WHERE, when GROUPBY is used

SELECT parent, COUNT(id) # This will create additional column with the counts. 

FROM `bigquery-public-data.hacker_news.comments` # database 

GROUP BY parent # this groups the entire data with the type of parent

HAVING COUNT(id) > 10 # pulls out the data where only the count is more than 10


SELECT parent, COUNT(1) AS NumPosts # 1 is the id column, since the index column is 0, and it is aliased with AS

FROM `bigquery-public-data.hacker_news.comments`

GROUP BY parent 

HAVING COUNT(1) > 10

Below won't work as the author is not aggregated

SELECT author, parent, COUNT(id)

FROM `bigquery-public-data.hacker_news.comments`

GROUP BY parent

# Introducing Order by

SELECT ID, NAME, ANIMAL #Select 3 columns here

FROM 'bigquery-public-data.pet_records.pets' # From the database

ORDER BY ANIMAL DESC # here there is no condition, only instruction to order a column

# Introducing Extract

Below query finds how many accidents happens on every day of the week

SELECT COUNT(consecutive_number) AS num_accidents, #Aggregation

EXTRACT(DAYOFWEEK FROM timestamp_of_crash) AS day_of_week

FROM `bigquery-public-data.nhtsa_traffic_fatalities.accident_2015`

GROUP BY day_of_week

ORDER BY num_accidents DESC

A common table expression (or CTE) is a temporary table that you return within your query. CTEs are helpful for splitting your queries into readable chunks, and you can write queries against them.

WITH time AS 

(

 SELECT DATE(block_timestamp) AS trans_date

 FROM `bigquery-public-data.crypto_bitcoin.transactions`

) #This is Common table expression
 
 SELECT COUNT(1) AS transactions,trans_date #this trans_date is coming from the CTE, and it is aggregated
 
 FROM time #is the name of the CTE
 
 GROUP BY trans_date
 
 ORDER BY trans_date

# Introducing the JOINS
ON determines which column in each table to use to combine the tables. Notice that since the ID

SELECT L.license, COUNT(1) AS number_of_files #Aggregating on the license types and counting from L table joined 

FROM `bigquery-public-data.github_repos.sample_files` AS sf # with sf table

INNER JOIN `bigquery-public-data.github_repos.licenses` AS L # Query to read from the "Join" command

ON sf.repo_name = L.repo_name #referred down
    
GROUP BY L.license

ORDER BY number_of_files DESC

![](2022-02-07-22-24-06.png)

![](2022-02-08-06-20-58.png)

![](2022-02-08-06-21-31.png)

JOINs horizontally combine results from different tables. If you instead would like to vertically concatenate columns, you can do so with a UNION.

 with a UNION, the data types of both columns must be the same, but the column names can be different. (So, for instance, we cannot take the UNION of the Age column from the owners table and the Pet_Name column from the pets table.)

 UNION ALL to include duplicate values - you'll notice that 9 appears in both the owners table and the pets table, and shows up twice in the concatenated results. If you'd like to drop duplicate values, you need only change UNION ALL in the query to UNION DISTINCT

WITH c AS
             (
             
             SELECT parent, COUNT(*) as num_comments
             
             FROM `bigquery-public-data.hacker_news.comments` 
             
             GROUP BY parent
             
             ) # this CTE is 'c' taken from comments table
             
             SELECT s.id as story_id, s.by, s.title, c.num_comments # joined columns come first
             
             FROM `bigquery-public-data.hacker_news.stories` AS s # This is 2nd table
             
             LEFT JOIN c #CTE 'c' is the left table which will be kept
             
             ON s.id = c.parent # column that is common
             
             WHERE EXTRACT(DATE FROM s.time_ts) = '2012-01-01'

             ORDER BY c.num_comments DESC

The below query provides only the names of the story writers in both tables, on 1st Jan

[

SELECT c.by

FROM `bigquery-public-data.hacker_news.comments` AS c

WHERE EXTRACT(DATE FROM c.time_ts) = '2014-01-01'

]

UNION DISTINCT #This keyword informs that only distinct values to be selected

[

SELECT s.by

FROM `bigquery-public-data.hacker_news.stories` AS s

WHERE EXTRACT(DATE FROM s.time_ts) = '2014-01-01'

]

# Intro the Analytic Functions 

![](2022-02-08-06-59-44.png)


functions have an OVER clause, which defines the sets of rows used in each calculation. The OVER clause has three (optional) parts:

The PARTITION BY clause divides the rows of the table into different groups. In the query above, we divide by id so that the calculations are separated by runner.

The ORDER BY clause defines an ordering within each partition. In the sample query, ordering by 
the date column ensures that earlier training sessions appear first.

The final clause (ROWS BETWEEN 1 PRECEDING AND CURRENT ROW) is known as a window frame clause. It identifies the set of rows used in each calculation. We can refer to this group of rows as a window. (Actually, analytic functions are sometimes referred to as analytic window functions or simply window functions!)

ROWS BETWEEN 1 PRECEDING AND CURRENT ROW - the previous row and the current row.

ROWS BETWEEN 3 PRECEDING AND 1 FOLLOWING - the 3 previous rows, the current row, and the following row.

ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING - all rows in the partition.

1) Analytic aggregate functions

As you might recall, AVG() (from the example above) is an aggregate function. The OVER clause is what ensures that it's treated as an analytic (aggregate) function. Aggregate functions take all of the values within the window as input and return a single value.

MIN() (or MAX()) - Returns the minimum (or maximum) of input values

AVG() (or SUM()) - Returns the average (or sum) of input values

COUNT() - Returns the number of rows in the input

2) Analytic navigation functions
Navigation functions assign a value based on the value in a (usually) different row than the current row.

FIRST_VALUE() (or LAST_VALUE()) - Returns the first (or last) value in the input

LEAD() (and LAG()) - Returns the value on a subsequent (or preceding) row

3) Analytic numbering functions
Numbering functions assign integer values to each row based on the ordering.

ROW_NUMBER() - Returns the order in which rows appear in the input (starting with 1)

RANK() - All rows with the same value in the ordering column receive the same rank value, where the next row receives a rank value which increments by the number of rows with the previous rank value.

WITH trips_by_day AS

(  #This query creates the number of trips per day in 2015
    
SELECT DATE(start_date) AS trip_date,

    COUNT(*) as num_trips
    
FROM `bigquery-public-data.san_francisco.bikeshare_trips`

WHERE EXTRACT(YEAR FROM start_date) = 2015 

GROUP BY trip_date 

) #this is CTE trips_by_day

SELECT *,

    SUM(num_trips) #the trips are adds the cumulative sum as 3rd column
    
        OVER (
            
            ORDER BY trip_date 
            
            ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW
            
            ) AS cumulative_trips
            
    FROM trips_by_day
    
"""

trip_date num_trips cum_trips

SELECT bike_number,

TIME(start_date) AS trip_time,

FIRST_VALUE(start_station_id)

    OVER (
        
        PARTITION BY bike_number
        
        ORDER BY start_date
        
        ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING
        
        ) AS first_station_id,
        
LAST_VALUE(end_station_id)

    OVER (
        
        PARTITION BY bike_number
        
        ORDER BY start_date
        
        ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING
        
        ) AS last_station_id,
        
start_station_id, # Select the columns that are created

end_station_id # Select the columns that are created

FROM `bigquery-public-data.san_francisco.bikeshare_trips`

WHERE DATE(start_date) = '2015-10-25' 

"""

# Introducing RECORD

![](2022-02-08-13-06-45.png)

This column has nested data as shown below 

![](2022-02-08-13-07-27.png)

Selecting these columns are just a dot away

![](2022-02-08-13-08-25.png)

# Introducing REPEATED 

![](2022-02-08-13-09-40.png)

the schema looks like this

![](2022-02-08-13-10-19.png)

to reach these elements the list columns needs to be unnested

![](2022-02-08-13-11-58.png)

# Its get more interesting NESTED and REPEATED

![](2022-02-08-13-14-50.png)

Look at the schema for RECORD and REPEATED

![](2022-02-08-13-13-40.png)

You unnest and then use the dot to reach the variable....

# Real Query

"""
SELECT device.browser AS device_browser, #under device RECORD there is browser value

SUM(totals.transactions) as total_transactions #Sum the transactions unders totals RECORD

FROM `bigquery-public-data.google_analytics_sample.ga_sessions_20170801`

GROUP BY device_browser #use the alias to group, and sum the transaction

ORDER BY total_transactions DESC #use alias of sum to order descending

"""

SELECT hits.page.pagePath as path, # reach pagepath by 'page' 

COUNT(hits.page.pagePath) as counts

FROM `bigquery-public-data.google_analytics_sample.ga_sessions_20170801`, 

UNNEST(hits) as hits # Need to start at unnested column, and decide how query is written

WHERE hits.type="PAGE" and hits.hitNumber=1 

GROUP BY path

ORDER BY counts DESC

"""

1) Only select the columns you want.

2) Read less data.

3) Avoid N:N JOINs.
    
    What is 1:1?
    
    There is one data that is common
    
    What is N:1?
    
    There is multiple common row in one of the tables, the other is unique

    What is N:N?
    
    Both table have multiple common rows


"""

SELECT repo,

COUNT(DISTINCT c.committer.name) as num_committers,

COUNT(DISTINCT f.id) AS num_files

FROM `bigquery-public-data.github_repos.commits` AS c, # 1st table

UNNEST(c.repo_name) AS repo # repo_name is unnested 

INNER JOIN `bigquery-public-data.github_repos.files` AS f # 2nd table

ON f.repo_name = repo

WHERE f.repo_name IN ( 'tensorflow/tensorflow', 'facebook/react', 'twbs/bootstrap', 'apple/swift', 'Microsoft/vscode', 'torvalds/linux')

GROUP BY repo

ORDER BY repo

"""

WITH commits AS

(
    
SELECT COUNT(DISTINCT committer.name) AS num_committers, repo

FROM `bigquery-public-data.github_repos.commits`,

UNNEST(repo_name) as repo

WHERE repo IN ( 'tensorflow/tensorflow', 'facebook/react', 'twbs/bootstrap', 'apple/swift', 'Microsoft/vscode', 'torvalds/linux')

GROUP BY repo

), # This is 'commits' CTE gives num_committers, repo and grouped by repo 

files AS 

(
    
SELECT COUNT(DISTINCT id) AS num_files, repo_name as repo

FROM `bigquery-public-data.github_repos.files`

WHERE repo_name IN ( 'tensorflow/tensorflow', 'facebook/react', 'twbs/bootstrap', 'apple/swift', 'Microsoft/vscode', 'torvalds/linux')

GROUP BY repo 

) # This is 'files' CTE gives num_files, repo


SELECT commits.repo, commits.num_committers, files.num_files

FROM commits 

INNER JOIN files

ON commits.repo = files.repo

ORDER BY repo